# 1 - Data Api 
by: Torres Espinosa, Jose Antonio

In [1]:
# Dependencies
import sys
# Own Modules
sys.path.append('./utils/')
from utils.opendata import OpenData

#  Request to OpenData and dataset creation

In [2]:
o = OpenData()  # Class Object
stations = o.get_stations()  # Stations request
stations.query('provincia == "MALAGA"')  # Province filter

2023-09-19 21:28:49,180 [INFO]: root: OpenData()

,latitud,provincia,altitud,indicativo,nombre,indsinop,longitud
183,370146N,MALAGA,408,6106X,ANTEQUERA,08413,044454W
184,362501N,MALAGA,19,6058I,ESTEPONA,08463,050918W
185,363219N,MALAGA,8,6084X,FUENGIROLA,08480,043706W
186,363958N,MALAGA,7,6155A,MÁLAGA AEROPUERTO,08482,042856W
187,364304N,MALAGA,54,6156X,"MÁLAGA, CENTRO METEOROLÓGICO",08481,042854W
188,364300N,MALAGA,25,6172O,"MÁLAGA, PUERTO",08479,042511W
189,364459N,MALAGA,766,6032B,RONDA,08443,051006W
190,364335N,MALAGA,3,6205X,TORROX,08484,035726W

In [3]:
o.set_idema('6156X')  # Sets station
# Gets data for the year 2022
data, meta = o.get_year(2022, legend=True)
data.head()

2023-09-19 21:28:49,530 [INFO]: root: set_idema(6156X)

,fecha,indicativo,nombre,provincia,altitud,tmed,prec,tmin,horatmin,tmax,horatmax,dir,velmedia,racha,horaracha,presMax,horaPresMax,presMin,horaPresMin
0,2022-01-01,6156X,"MÁLAGA, CENTRO METEOROLÓGICO",MALAGA,54,"12,2","0,0","7,9",23:59,"16,4",15:00,13,"0,8","4,4",11:40,"1024,8",11,"1021,8",01
1,2022-01-02,6156X,"MÁLAGA, CENTRO METEOROLÓGICO",MALAGA,54,"11,5","0,0","6,5",02:30,"16,5",15:00,12,"0,8","4,2",15:00,"1025,1",10,"1021,9",Varias
2,2022-01-03,6156X,"MÁLAGA, CENTRO METEOROLÓGICO",MALAGA,54,"10,9","0,2","5,4",05:20,"16,4",15:00,12,"1,1","3,9",14:50,"1022,4",00,"1016,7",24
3,2022-01-04,6156X,"MÁLAGA, CENTRO METEOROLÓGICO",MALAGA,54,"15,0","0,4","8,2",08:30,"21,8",14:00,30,"2,2","15,0",16:30,"1016,7",00,"1009,1",16
4,2022-01-05,6156X,"MÁLAGA, CENTRO METEOROLÓGICO",MALAGA,54,"12,4","3,2","9,2",07:00,"15,7",14:40,28,"3,1","12,5",15:30,"1016,8",Varias,"1010,6",24

##### Legend

In [4]:
meta

,id,descripcion,tipo_datos,requerido,unidad
0,fecha,fecha del dia (AAAA-MM-DD),string,True,NaN
1,indicativo,indicativo climatológico,string,True,NaN
2,nombre,nombre (ubicación) de la estación,string,True,NaN
3,provincia,provincia de la estación,string,True,NaN
4,altitud,altitud de la estación en m sobre el nivel del...,float,True,m
5,tmed,Temperatura media diaria,float,False,°C
6,prec,Precipitación diaria de 07 a 07,float,False,"mm (Ip = inferior a 0,1 mm) (Acum = Precipitac..."
7,tmin,Temperatura Mínima del día,float,False,°C
8,horatmin,Hora y minuto de la temperatura mínima,string,False,UTC
9,tmax,Temperatura Máxima del día,float,False,°C
10,horatmax,Hora y minuto de la temperatura máxima,string,False,UTC
11,dir,Dirección de la racha máxima,float,False,decenas de grado (99 = dirección variable)(88 ...
12,velmedia,Velocidad media del viento,float,False,m/s
13,racha,Racha máxima del viento,float,False,m/s
14,horaracha,Hora y minuto de la racha máxima,string,False,UTC
15,sol,Insolación,float,False,horas
16,presmax,Presión máxima al nivel de referencia de la es...,float,False,hPa
17,horapresmax,Hora de la presión máxima (redondeada a la hor...,string,False,UTC
18,presmin,Presión mínima al nivel de referencia de la es...,float,False,hPa
19,horapresmin,Hora de la presión mínima (redondeada a la hor...,string,False,UTC

In [5]:
meta.loc[11,'unidad']  # dir

'decenas de grado (99 = dirección variable)(88 = sin dato)'

In [6]:
meta.loc[6,'unidad']  # prec

'mm (Ip = inferior a 0,1 mm) (Acum = Precipitación acumulada)'

* handle errors: dir=88 and the data strings prec

# Request for several years

This request, obtains data already formatted by the OpenData class. From 2001 to 2022, several years are needed because it rains few days. These values are needed to improve the classification models.

In [7]:
data = o.get_data_range(2001,2022)
data

2023-09-19 21:28:51,335 [INFO]: root: get_data_range(2001, 2022)
100%|██████████| 22/22 [00:28<00:00,  1.28s/it]

,tmed,tmin,tmax,dir,velmedia,racha,presMin,presMax,prec,rain
fecha,,,,,,,,,,
2001-01-01,11.6,6.8,16.4,13.0,2.5,6.4,NaN,NaN,8.4,1
2001-01-02,15.5,11.0,20.0,35.0,1.7,6.7,NaN,NaN,0.1,1
2001-01-03,14.4,9.0,19.8,20.0,1.9,5.6,NaN,NaN,0.0,0
2001-01-04,16.4,11.3,21.4,21.0,1.7,5.6,NaN,NaN,0.0,0
2001-01-05,15.9,11.7,20.1,27.0,2.2,13.3,NaN,NaN,3.3,1
...,...,...,...,...,...,...,...,...,...,...
2022-12-27,15.7,9.1,22.3,27.0,1.7,5.6,1021.7,1024.3,0.0,0
2022-12-28,14.5,8.0,21.0,29.0,1.7,4.4,1018.1,1021.7,0.0,0
2022-12-29,17.5,12.0,23.0,27.0,2.5,6.9,1018.4,1021.1,0.0,0
2022-12-30,17.4,11.0,23.8,30.0,2.2,6.1,1019.3,1022.1,0.0,0
2022-12-31,13.8,6.6,21.0,30.0,0.6,3.9,1019.5,1022.0,0.0,0

In [8]:
data.info()  # Contains null values!

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 8026 entries, 2001-01-01 to 2022-12-31
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   tmed      7851 non-null   float64
 1   tmin      7851 non-null   float64
 2   tmax      7852 non-null   float64
 3   dir       7840 non-null   float64
 4   velmedia  7858 non-null   float64
 5   racha     7841 non-null   float64
 6   presMin   5997 non-null   float64
 7   presMax   5997 non-null   float64
 8   prec      8026 non-null   float64
 9   rain      8026 non-null   int64
dtypes: float64(9), int64(1)
memory usage: 689.7 KB

In [9]:
data.to_csv('./data/data-01-22.csv')  # Saves in data folder